<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cadastroMotorista.css">
  <title>Cadastro Cliente VoceAluga</title>
</head>
<body>



<div class="main-cadastro-cliente">

  <h1>Seja um motorista agora!</h1>

  <div class="cadastro-cliente">

    <h2>Cadastro do motorista</h2>

    <form action="http://localhost:8080" method="post">

      <div class="style-field">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" name="cpf" placeholder="Insira o CPF do motorista">
      </div>

      <div class="style-field">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Insira o nome do motorista">
      </div>

      <div class="style-field">
        <label for="cnh">CNH</label>
        <input type="text" id="cnh" name="cnh" placeholder="CNH do motorista">
      </div>

      <div class="style-field">
        <label for="dataNascimento">Data de nascimento</label>
        <input type="text" id="dataNascimento" name="dataNascimento" placeholder="Data nascimento motorista">
      </div>

      <div class="style-field">
        <label for="CodigoDoCliente">Código do Cliente</label>
        <input type="text" id="CodigoDoCliente" name="cliente" placeholder="Código do Cliente Vinculado ao Motorista">
      </div>

      <div class="button-cadastro">
        <button type="button">Cadastrar📤</button>
      </div>

    </form>

  </div>



</div>






</body>
</html>