<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buscaMotorista.css">
    <script src="buscaMotorista.js"></script>
    <title>BuscaMotorista VoceAluga</title>
</head>
<body>

<div class="main-busca-motorista">

    <h1>Pesquise os dados de um motorista da VoceAluga <span>&#x1F697;</span></h1>

    <div class="space-busca-motorista">
        <h1>Digite o Cnh do motorista!</h1>

        <form id="buscaMotorista">

            <div class="bar-busca-motorista-cpf">
                <input type="text" id="cnh_mot" name="cpf" placeholder="Insira o cnh do motorista que deseja buscar" required>
            </div>

            <div class="button-buscar-motorista">
                <button type="submit">Buscar📤</button>
            </div>

            <div class="grid-container">
                <table border="1">
                    <tr>

                        <th>Nome</th>
                        <th>Cpf</th>


                    <tr>

                        <td id="nome_motorista"> </td>
                        <td id="cpf_motorista"> </td>
                    </tr>
                    </tr>
                    <tr>
                        <th>CNH</th>
                        <th>Data Nascicmento</th>

                    <tr>
                        <td id="cnh_motorista"> </td>
                        <td id="data_nascimento"> </td>


                    </tr>
                    </tr>


                </table>
            </div>

            <div class="textofield">
                <p id="resultadoBusca" style="display: none;"></p>
            </div>

        </form>

    </div>

</div>

</body>
</html>