<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buscaLocacao.css">
    <script src="buscaLocacao.js"></script>
    <title>BuscaLocacao VoceAluga</title>
</head>
<body>

<div class="main-busca-locacao">

    <h1>Pesquise os dados de uma locação da VoceAluga <span>🏢</span></h1>

    <div class="space-busca-locacao">
        <h1>Digite o Código da locação!</h1>

        <form id="buscaLocacao">

            <div class="bar-busca-locacao-codigo">
                <input type="text" id="id" name="id" placeholder="Insira código da locação" required>
            </div>

            <div class="botao-busca-locacao">
                <button type="submit"> Buscar </button>
            </div>

            <div class="grid-container-locacao">
                <table border="1">
                    <tr>
                        <th>Código</th>
                        <th>Motorista</th>
                        <th>Funcionário</th>
                        <th>Cliente</th>
                        <th>Veiculo</th>
                        <th>Data Locacao</th>
                        <th>Data Inicio</th>
                        <th>Data fim</th>
                        <th>Endereco retirada</th>
                        <th>Endereco Devolucao</th>
                        <th>Status Locacao</th>
                        <th>Código Transação</th>
                    </tr>
                    <tr>
                        <td id="codigo"> </td>
                        <td id="motorista"> </td>
                        <td id="funcionario"> </td>
                        <td id="cliente"> </td>
                        <td id="veiculo"> </td>
                        <td id="data locacao"> </td>
                        <td id="data inicio"> </td>
                        <td id="data fim"> </td>
                        <td id="endereco retirada"> </td>
                        <td id="endereco devolucao"> </td>
                        <td id="Status Locacao"> </td>
                        <td id="Código Transação"> </td>
                    </tr>
                </table>
            </div>

            <div class="textofield">
                <p id="resultadoBusca" style="display: none;"></p>
            </div>

        </form>

    </div>

</div>

</body>
</html>