<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buscaCliente.css">
    <script src="buscaCliente.js"></script>
    <title>BuscaCliente VoceAluga</title>
</head>
<body>

    <div class="main-busca-cliente">

        <h1>Pesquise os dados de um cliente da VoceAluga <span>&#x1F642;</span></h1>

        <div class="space-busca-cliente">
            <h1>Digite o cpf do cliente!</h1>

            <form id="busca-cliente-form">

            <div class="bar-busca-cliente-cpf">
                 <input type="text" id="cpf" name="cpf" placeholder="Insira cpf do cliente que deseja buscar">
            </div>

                <div class="botao-busca-cliente">

                    <button type="submit">Buscar</button>

                </div>
                <div class="grid-container">
                    <table border="1">
                        <tr>
                            <th>Filial</th>
                            <th>Nome</th>
                            <th>Cpf</th>
                            <th>Telefone</th>
                            <th>DataCadastro</th>
                        </tr>
                        <tr>
                            <td id="filial_name"> </td>
                            <td id="cliente_name"> </td>
                            <td id="cliente_cpf"> </td>
                            <td id="cliente_telefone"> </td>
                            <td id="cliente_dtCadastro"> </td>
                        </tr>
                    </table>
                </div>

            </form>

        </div>

    </div>

</body>
</html>