<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buscaCliente.css">
    <title>BuscaCliente VoceAluga</title>
</head>
<body>

    <div class="main-busca-cliente">

        <h1>Pesquise os dados de um cliente da VoceAluga <span>&#x1F642;</span></h1>

        <div class="space-busca-cliente">
            <h1>Digite o cpf do cliente!</h1>

            <form action="http://localhost:8080" method="get">

            <div class="bar-busca-cliente-cpf">
                 <input type="text" name="cpf" placeholder="Insira o nome do cpf que deseja buscar">
            </div>

            </form>

        </div>

    </div>

</body>
</html>