<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="selecionarCarro.css">
  <title>Login VoceAluga</title>
</head>
<body>
<div class="selecionar-carro">

  <div class="grupo-carros">

  <div class="row" id="row1">
    <div class="card-car">
      <h2>Nome do carro</h2>
      <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
      <P>Categoria: A <br> Preço: 1000 <br> Código Veiculo: 2839</P>
    </div>

    <div class="card-car">
      <h2>Nome do carro</h2>
      <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
      <P>Categoria: A <br> Preço: 1000 <br> Código Veiculo: 2839</P>
    </div>

    <div class="card-car">
      <h2>Nome do carro</h2>
      <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
      <P>Categoria: A <br> Preço: 1000 <br> Código Veiculo: 2839</P>
    </div>
  </div>

    <div class="row">
      <div class="card-car">
        <h2>Nome do carro</h2>
        <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
        <P>Categoria: A <br> Preço: 1000 <br> Código Veiculo: 2839</P>
      </div>

      <div class="card-car">
        <h2>Nome do carro</h2>
        <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
        <P>Categoria: A <br> Preço: 1000 <br> Código Veiculo: 2839</P>
      </div>

      <div class="card-car">
        <h2>Nome do carro</h2>
        <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
        <P>Categoria: A <br> Preço: 1000 <br> Código Veiculo: 2839</P>
      </div>
    </div>

  </div>
</div>

</body>
</html>