<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="selecionarCarro.css">
  <script src="selecionarCarro.js"></script>
  <title>Login VoceAluga</title>
</head>
<body>
<div class="selecionar-carro">

  <div class="grupo-carros">

  <div class="row" id="row1">
    <div class="card-car">
      <h2>Nome do carro</h2>
      <img class="img_car" src="../imgs/Hilux_img.png" alt="Fotos de carros">
      <P>Categoria: <span id="categ_1"></span> <br> Preço: <span id="preco_1"></span> <br> Código Veiculo: <span id="carro1"></span></P>
    </div>

    <div class="card-car">
      <h2>Nome do carro</h2>
      <img class="img_car" src="../imgs/honda_fit_2008_new_1.png" alt="Fotos de carros">
      <P>Categoria: <span id="categ_2"></span> <br> Preço: <span id="preco_2"></span> <br> Código Veiculo: <span id="carro2"></span></P>
    </div>

    <div class="card-car">
      <h2>Nome do carro</h2>
      <img class="img_car" src="../imgs/BMW_3_Series.png" alt="Fotos de carros">
      <P>Categoria: <span id="categ_3"></span> <br> Preço: <span id="preco_3"></span> <br> Código Veiculo: <span id="carro3"></span></P>
    </div>
  </div>

    <div class="row">
      <div class="card-car">
        <h2>Nome do carro</h2>
        <img class="img_car" src="../imgs/Audi-A4.png" alt="Fotos de carros">
        <P>Categoria: <span id="categ_4"></span> <br> Preço: <span id="preco_4"></span> <br> Código Veiculo: <span id="carro4"></span></P>
      </div>

      <div class="card-car">
        <h2>Nome do carro</h2>
        <img class="img_car" src="../imgs/Ford_Fusion.png" alt="Fotos de carros">
        <P>Categoria: <span id="categ_5"></span> <br> Preço: <span id="preco_5"></span> <br> Código Veiculo: <span id="carro5"></span></P>
      </div>

      <div class="card-car">
        <h2>Nome do carro</h2>
        <img class="img_car" src="../imgs/Chevrolet_Malibu_2010.png" alt="Fotos de carros">
        <P>Categoria: <span id="categ_6  n"></span> <br> Preço: <span id="preco_6"></span> <br> Código Veiculo: <span id="carro6"></span></P>
      </div>
    </div>

  </div>
</div>

</body>
</html>