<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="MenuVoceAluga.css">
    <script src="MenuVoceAluga.js"></script>
    <title>Login VoceAluga</title>
</head>
<body>

<h1>
    Menu VoceAluga <span>&#x1F642;</span>
</h1>
<div class="container_menu">

    <div class="block">
        <a href="../buscaCliente/buscaCliente.html" target="_blank">
        <div class="texto_block">
            BUSCAR CLIENTE
        </div>
        </a>
    </div>
    <div class="block">
        <a href="../buscaLocacao/buscaLocacao.html" target="_blank">
        <div class="texto_block">
            BUSCAR LOCAÇÃO
        </div>
        </a>
    </div>
    <div class="block">
        <a href="../buscaMotoristaPorCliente/buscaMotorista.html" target="_blank">
        <div class="texto_block">
            BUSCAR MOTORISTA
        </div>
        </a>
    </div>
    <div class="block">
        <a href="../cadastroClienteTela/cadastroCliente.html" target="_blank">
        <div class="texto_block">
            CADASTRAR CLIENTE
        </div>
        </a>
    </div>
    <div class="block">
        <a href="../locacaoAndMotorista/cadastroMotorista.html" target="_blank">
        <div class="texto_block">
            CADASTRAR MOTORISTA
        </div>
        </a>
    </div>
    <div class="block">
        <a href="../locacaoCarro/locacaoCarro.html" target="_blank">
        <div class="texto_block">
            CADASTRAR LOCACAO
        </div>
        </a>
    </div>
    <div class="block">
        <a href="../selecionarCarro/selecionarCarro.html" target="_blank">
        <div class="texto_block">
        CARROS DISPONÍVEIS
    </div>
        </a>
    </div>
    <div class="block">
        <a href="../telaDevolução/telaDevolucao.html" target="_blank">
        <div class="texto_block">
        EFETUAR DEVOLUÇÃO
    </div>
        </a>
    </div>
</div>



</body>
</html>