body
{
    margin: 0;
}

.main-login
{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login
{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left-login > h1
{
    color: #77ffc0;
}

.right-login
{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-login
{
    width: 19vw;
    height: 27vh;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    justify-content: center;
    align-items: center;
}

.textfield
{

}

.button-Login
{

}

