<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginStyle.css">
    <script src="login.js"></script>
    <title>Login VoceAluga</title>
</head>
<body>


        <div class="main-login">

            <div class="left-login">
                <h1>Equipe VoceAluga ao seu dispor </h1>
                <h1>Entre no site para adquirir o seu veiculo!</h1>
                <div class="img-login">
                    <img src="../imgs/foto_carros_orig.png" alt="Fotos de carros">
                </div>
            </div>
            <div class="right-login">
                <div class="card-login">
                    <h1>Login</h1>
                    <form id="loginForm">
                    <div class="textfield">
                        <label for="cpf">Usuário(CPF)</label>
                        <input type="text" id="cpf" name="cpf" placeholder="Insira o seu CPF aqui" required>
                    </div>
                    <div class="textfield">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" placeholder="Senha" required>
                    </div>
                    <div class="button-Login">
                        <button type="submit">Entrar🔒</button>
                    </div>
                        <div class="textfield">
                            <p id="textoLogin" style="display: none;">Não autorizado</p>
                        </div>
                    </form>
                </div>
            </div>

        </div>
</body>
</html>